.unitid {
    font-size: 14px !important;
    line-height: 9px !important;
    font-weight: bold;
    background: rgb(154,159,170);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 2px 5px 2px 5px;
    display: inline !important;
    width: auto;
    margin-top: -22px;
}

